

/* ----------- */
.upload-user-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .avatar-center {
    margin-bottom: 10px;
  }

  .avatar-large {
    width: 120px; /* Change this value to your desired width */
    height: 120px; /* Change this value to your desired height */
  }

  .link-button {
    text-decoration: underline;
    color: var(--ion-color-primary);
    font-weight: bold;
  }