.header-container {
    display: flex;
    align-items: center; /* Align items vertically centered */
}

.custom-avatar {
    width: 50px; /* Set width for square */
    height: 50px; /* Set height for square */
    --border-radius: 10px;
}

.text-container {
    margin-left: 10px; /* Space between avatar and text */
}

